* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {max-width: 1200 px;
margin:0 auto
}

h1{padding: 10px;
margin: 10px;
text-align: center;
}


.titolino {padding: 10px;
margin: 50px;
text-align: center;}

.box {background-color: black;
width: 33.3%;
height: 33.%;
padding-left: 50px;} 
    

    